content_type(undef) throws warnings

"Use of uninitialized value $name in pattern match (m//) at 
/usr/lib/pakket/5.24.3/libraries/active/lib/perl5/Dancer2/Core/MIME.pm line 67."

I have a Dancer2 API that mainly acts as a proxy to the backend, so I take Content-Type from the incoming request and forward it as is.  I fix the warning by using response->headers() instead.  But I feel there should be no warning in content_type either

@tonegz seconding what @simbabque asked... Can we get an example to reproduce? In addition to demonstrating the error, it would also help us to make a regression test when we fix this. Please and thanks!

I'm not yet sure how we should handle this, and need to play a little. In the meantime here is what RFC 7231 has to say:
```
3.1.1.5.  Content-Type

   The "Content-Type" header field indicates the media type of the
   associated representation: either the representation enclosed in the
   message payload or the selected representation, as determined by the
   message semantics.  The indicated media type defines both the data
   format and how that data is intended to be processed by a recipient,
   within the scope of the received message semantics, after any content
   codings indicated by Content-Encoding are decoded.

     Content-Type = media-type

   Media types are defined in Section 3.1.1.1.  An example of the field
   is

     Content-Type: text/html; charset=ISO-8859-4

   A sender that generates a message containing a payload body SHOULD
   generate a Content-Type header field in that message unless the
   intended media type of the enclosed representation is unknown to the
   sender.  If a Content-Type header field is not present, the recipient
   MAY either assume a media type of "application/octet-stream"
   ([RFC2046], Section 4.5.1) or examine the data to determine its type.

   In practice, resource owners do not always properly configure their
   origin server to provide the correct Content-Type for a given
   representation, with the result that some clients will examine a
   payload's content and override the specified type.  Clients that do
   so risk drawing incorrect conclusions, which might expose additional
   security risks (e.g., "privilege escalation").  Furthermore, it is
   impossible to determine the sender's intent by examining the data
   format: many data formats match multiple media types that differ only
   in processing semantics.  Implementers are encouraged to provide a
   means of disabling such "content sniffing" when it is used.
```

Having checked all callers of `content_type` within Dancer2 I'm struggling to find anything that is likely to call it with an undef value. @tonegz can you supply us with example code to reproduce this please?



I still don't see how this can be triggered, so suggest this is closed unless we receive example code from @tonegz.

We can reopen this later if needed. Closing for now.